<% provide(:title, 'About Us') %>
<!DOCTYPE html>
<html>
  <head>
    <title>RecipeConverter | <%= yield(:title) %></title>
  </head>
  <body>
    <h1>About Us</h1>
    <p>
    	I made this because I was tired of recalculating all my recipes by hand, so I hope it helps you too :)
    </p>
  </body>
</html>


