<% provide(:title, 'Help') %>
<!DOCTYPE html>
<html>
  <head>
    <title>RecipeConverter | <%= yield(:title) %></title>
  </head>
  <body>
    <h1>Help</h1>
    <p>
      Need any help? Get it here.
    </p>
  </body>
</html>

