
<div class="center hero-unit">
  <h1>Recipe Converter</h1>
  <h2>
    So you have a recipe that you want to adjust.
  </h2>
  <div class="wrap">
  	<%= link_to "Convert Recipe", '#', class: "btn btn-large btn-primary" %>
  	</div>
  </div>
  <div style="clear:both"></div>
</div>


