<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
  <head>
  <title>RecipeConverter | <%= yield(:title) %></title> 
  </head>
  <body>
    <h1>Recipe Converter</h1>
    <p>
      I can help you to adjust your recipes.
    </p>
  </body>
</html>
